@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?j3nl3j");
  src: url("fonts/icomoon.eot?j3nl3j#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?j3nl3j") format("truetype"), url("fonts/icomoon.woff?j3nl3j") format("woff"), url("fonts/icomoon.svg?j3nl3j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-wechat:before {
  content: "\e900"; }

.icon-file-zip:before {
  content: "\e901"; }

.icon-mobile:before {
  content: "\e902"; }

.icon-upload3:before {
  content: "\e903"; }

/*为了兼容css3， 定义的公共函数*/
/**
 * 为了css3兼容， 你决定应该传递一个参数， 还是2个？ 答案是1个
 * @param  {[type]} $origin [description]
 * @return {[type]}         [description]
 */
.toolbar {
  position: fixed;
  left: 50%;
  bottom: 10px;
  margin-left: 26px; }

.toolbar-item {
  display: block;
  margin-top: 1px;
  width: 52px;
  height: 52px;
  position: relative; }
  .toolbar-item:hover .toolbar-icon {
    top: -52px; }
  .toolbar-item:hover .toolbar-text {
    top: 0; }
  .toolbar-item:hover .toolbar-layer {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
    /*兼容IE*/ }

.toolbar-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  overflow: hidden; }

.toolbar-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  background-color: #d0d6d9;
  font-size: 30px;
  /*因为是字体图标， 所以可以像字体一样设置大小*/
  text-align: center;
  line-height: 52px;
  /*垂直居中*/
  color: #fff;
  /*居然可以设置color*/
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  /*opera*/
  transition: top 1s;
  /*关键属性*/ }

.toolbar-text {
  position: absolute;
  left: 0;
  top: 52px;
  width: 52px;
  height: 52px;
  background-color: #98a1a6;
  font-size: 12px;
  /*因为是字体图标， 所以可以像字体一样设置大小*/
  text-align: center;
  line-height: 1.2;
  /*每行的距离*/
  padding-top: 12px;
  /**伪垂直居中*/
  color: #fff;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  /*opera*/
  transition: top 1s;
  /*关键属性*/ }

.toolbar-layer {
  position: absolute;
  right: 46px;
  /*注意， 这里right， 那就是相对于右边的距离啊， 减6是因为有阴影啊*/
  bottom: -10px;
  opacity: 0;
  filter: alpha(opacity=0);
  /*兼容IE*/
  width: 172px;
  -webkit-transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  transform-origin: 95% 95%;
  /*transform的基准点， 默认是中心， 这里设置为right bottom, 但是这个图片是有阴影的， 所以不要设置为最右最下， 设置为95%效果最佳， 细节啊*/
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  /*opera*/
  transition: all 1s;
  background-image: url(../img/toolbar.png);
  background-repeat: no-repeat; }

.toolbar-layer-weixin {
  height: 212px;
  background-position: 0 0; }

.toolbar-layer-app {
  height: 194px;
  background-position: 0 -222px; }
